<div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutGap="20px" [formGroup]="formGroup">

  <div [ngSwitch]="question.controlType">

    <mat-form-field *ngSwitchCase="'textbox'">
      <input matInput [placeholder]="question.label" [formControlName]="question.key" [id]="question.key" [type]="question.type">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-select [id]="question.key" [formControlName]="question.key">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox *ngSwitchCase="'checkbox'" [id]="question.key" [formControlName]="question.key" [labelPosition]="question.labelPosition">{{question.label}}</mat-checkbox>

    <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
  </div>
</div>
